<!DOCTYPE html>
<html>
<head>
  <title>Teacher Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <% if devise_controller? %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbo-track': 'reload' %>
  <% end %>
</head>

  <body>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
